#myCarousel {
    width: 100%;
    height: 370px;
}

.store-list {
    text-align: center;
    background-color: #390c20;
    margin-top: 5px;
    color: #337ab7 !important;
    border-radius: 15px;
}

.list-head {
    font-size: large;
    border-radius: 15px;
    margin-top: 15px;
}

.picture-margin {
    padding: 10px;
}

.float-left-picture h4 {
    text-align: center;
}

.float-left-picture {
    float: left;
    overflow: hidden;
    width: 33.3%;
}

.dishprice {
    font-size: large;
    color: red;
    margin-left: 50px;
    display: inline-block;
}
