#div{
    width: 462px;
    height: 360px;
    border:1px solid;
    margin: 120px auto;
    text-align :center;
    line-height:80px;
    background-color: lavender;
}

#main-log{
    font-size: 2em;
}

#div3{
    text-align :center;
}
