#div1{
    width: auto;
    height: 650px;
    /*border-style:solid;*/
}

#div2{
    float: right;
    width: auto;
    height: 30px;
}

#div3{
    float: right;
    width: auto;
    height: 30px;
}

#div4{
    width: auto;
    height: 30px;
    background-color: lavender;
}

#logo{
    width: auto;
    height: 50px;
}

#main{
    width: auto;
    height: 40px;
    background-color: deeppink;
}
